<!-- new file: assignment1/roster/templates/roster/athlete_list.html -->
{% extends "base.html" %}

{% block content %}
    <h2>2014 Carolina Gymnastics Team</h2>
    <div class="template-wrapper">
    <img id="athlete_list_header_img" src="" />
    
    
    
    <table id="table_id">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Position</th>
            <th>Year</th>
            <th>Hometown</th>
        </tr>
    </thead>
    <tbody>
        
            
                {% for athlete in athletes %}
                <!--Each "athlete" is an athlete model object. -->
                <tr><td><a href="{{ athlete.id }}"><img id="data_table" src="{{ athlete.imageurl }}"/></a></td><td><a href="{{ athlete.id }}">{{ athlete.name }}</a></td><td> {{ athlete.position}}</td><td>{{ athlete.year }}</td><td>{{ athlete.hometown }}</td></tr>
                {% endfor %}
            
        
    </tbody>
</table>
    
   <!-- Start Twitter widget --> 
    <div class=".col-md-6">
        <a class="twitter-timeline" href="https://twitter.com/uncgymnastics" data-widget-id="439273343808581632">Tweets by @uncgymnastics</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div> 
    <!-- End Twitter widget -->
    
    <!-- Start Google Maps API -->
    <div class=".col-md-6">
        <iframe border="none" scrolling="no" src="map.html"></iframe>
    </div>

    </div><!-- End template-wrapper class -->



{% endblock %}


