<!-- new file: assignment1/roster/templates/roster/athlete_list.html -->
{% extends "base.html" %}

{% block content %}
    <h2>All Athletes</h2>
    
    <table id="table_id">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Position</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        
            
                {% for athlete in athletes %}
                <!--Each "athlete" is an athlete model object. -->
                <tr><td><a href="{{ athlete.id }}"><img src="{{ athlete.imageurl }}"/></a></td><td><a href="{{ athlete.id }}">{{ athlete.name }}</a></td><td> {{ athlete.position}}</td><td>{{ athlete.year }}</td></tr>
                {% endfor %}
            
        
    </tbody>
</table>
    
   <a class="twitter-timeline" href="https://twitter.com/uncgymnastics" data-widget-id="439273343808581632">Tweets by @uncgymnastics</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>








    
 <!-- commenting out to try to see if works!   
    <ul>
        {% for athlete in athletes %}
        <!--Each "athlete" is a athlete model object. -->
 <!-- commenting out to see if works!       
        <li><a href="{{ athlete.id }}">{{ athlete.name }}</a> | {{ athlete.position}} | </li>
        {% endfor %}
    </ul>
-->




{% endblock %}


