<!-- new file: roster/templates/roster/athlete.html -->

{% extends "base.html" %}

{% block content %}
 
  


<div class="row">
    
    <div class=".col-md-6">        
            <img class="athlete_profile" src="{{ athlete.imageurl }}"/>
            
    </div><!-- Close 6 columns --> 
    <div class=".col-md-5" style="margin-top: 150px; margin-left: 50px;">        
        <ul>
            <b><h2>{{ athlete.name }}</h2></b>
            <li><b>Position:</b> {{ athlete.position }}</li>
            <li><b>Year:</b> {{ athlete.year }}</li>
            <li><b>Hometown:</b> {{ athlete.hometown }}</li>
            <li><b>High School:</b> {{ athlete.highschool }}</li>
            <li><b>Bio:</b> {{ athlete.bio }}</li>   
        </ul>
    </div><!--close 6 columns -->

</div><!-- close row -->



<div class="row">
 <div class=".col-md-4 athlete_video">
        <iframe width="400" height="225" src="{{ athlete.video }}"" frameborder="0" allowfullscreen></iframe>
    </div><!-- close 4 columns -->
</div><!-- close row-->     

{% endblock %}