<!-- new file: assignment1/roster/templates/roster/athlete_list.html -->
{% extends "base.html" %}

{% block content %}
    
   
        
        
        <div class="row">
            <div class=".col-md-12">
                
                <img id="header_img" src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/HV/HVHYJPCRRQWVRMM.20131028212238.jpg" />
                <h2>2014 Carolina Gymnastics Team</h2>
            </div><!-- Close 12 columns --> 
        </div><!-- close div row for athlete_list_header_img -->
 
 
    <div class="row">
        <div class=".col-md-12">
    <table id="table_id">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Position</th>
            <th>Year</th>
            <th>Hometown</th>
        </tr>
    </thead>
    <tbody>
        
            
                {% for athlete in athletes %}
                <!--Each "athlete" is an athlete model object. -->
                <tr><td><a href="{{ athlete.id }}"><img id="data_table" src="{{ athlete.imageurl }}"/></a></td><td><a href="{{ athlete.id }}">{{ athlete.name }}</a></td><td> {{ athlete.position}}</td><td>{{ athlete.year }}</td><td>{{ athlete.hometown }}</td></tr>
                {% endfor %}
            
        
    </tbody>
</table>
    </div><!-- Close div class=".col-md-12" -->
 </div><!-- Close div class="row" -->   

<div class="row">    
   <!-- Start Twitter widget --> 
    <div class=".col-md-4">
        <a class="twitter-timeline" href="https://twitter.com/uncgymnastics" data-widget-id="439273343808581632">Tweets by @uncgymnastics</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div> 
    <!-- End Twitter widget -->
    
    <!-- Start Google Maps API 
    <div class=".col-md-6">
        <iframe border="none" scrolling="no" src="map.html"></iframe>
    </div>
    -->
    <div class=".col-md-4">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284&sensor=false" />
    </div>
    
    <div class=".col-md-4">
        
    </div>

</div> <!-- End div class="row" -->
    
    




{% endblock %}


