<!-- new file: roster/templates/roster/athlete.html -->

{% extends "base.html" %}

{% block content %}
 
  
<div class="template-wrapper">   


<div class="row">



    
    <div class=".col-md-8">
        <div class="athlete_package">
        <ul>
            <img class="athlete_profile" src="{{ athlete.imageurl }}"/>
            <h2>{{ athlete.name }}</h2>
            <li><b>Position:</b> {{ athlete.position }}</li>
            <li><b>Year:</b> {{ athlete.year }}</li>
            <li><b>Hometown:</b> {{ athlete.hometown }}</li>
            <li><b>High School:</b> {{ athlete.highschool }}</li>
            <li><b>Bio:</b> {{ athlete.bio }}</li>   

        </ul>
        </div><!-- close athlete_package -->
    </div><!--close 8 columns -->

    <div class=".col-md-4 athlete_video">
        <iframe width="400" height="225" src="{{ athlete.video }}"" frameborder="0" allowfullscreen></iframe>
    </div><!-- close 4 columns -->

</div><!-- close row -->



</div> 
{% endblock %}