<!-- new file: roster/templates/roster/best.html -->

{% extends "base.html" %}

{% block content %}
<h2>Personal Best: {{ best.name }}</h2>

<div class="row">




<div class="col-md-6">
    <p>Details</p>
    <ul>
        <img src="{{ best.imageurl }}"/>
        <li>Name: {{ best.Athlete }}</li>
        <li>Position: {{ best.position }}</li>
        <li>Vault: {{ best.vault }}</li>
        <li>Uneven Bars: {{ best.uneven_bars }}</li>
        <li>Balance Beam: {{ best.floor_exercise }}</li>
        <li>All-around: {{ best.all_around }}</li>
            
    
    </ul>
</div>
</div>
{% endblock %}