<!-- roster/templates/roster/home.html-->

{% extends "base.html"%}
{% load humanize %}
{% load url from future %}

{% block content %}
<h1>Carolina Athletics</h1>
       
<!-- <p><a href="{%url 'roster_best_list' %}">List of Personal Bests</a></p> --> 
<table id="sports_table">
    <thead>
        <tr>
            <th>Men</th>
            <th>Women</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/LW/LWCTXUIPHUSVJZV.20140301221744.jpg"/>Baseball</a></td><td><a href="{%url 'roster_athlete_list' %}"><img id="sports_table" src="http://www.goheels.com/pics33/1024/QQ/QQPNZXHVWJENXTB.20140112231629.jpg"/>Gymnastics</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/EA/EASHSBLEOEMUBTQ.20140301234653.jpg"/>Basketball</a></td><td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/BG/BGRAFSYHCTTMMHY.20140117010443.jpg"/>Basketball</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/UH/UHMKKFMQDNQXOHR.20130422152523.jpg"/>Cross Country</a></td><td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/GL/GLBVCNMBXLOWXTR.20130831154027.jpg"/>Cross Country</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/PA/PAWPRWWNJVNJZAK.20140203034829.jpg"/>Fencing</a></td><td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics33/640/NN/NNYKGLMJPABUULF.20140114040500.jpg"/>Fencing</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/GX/GXQQIFMKSOYSHEU.20131229003628.jpg"/>Football</a></td><td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/JF/JFDKVFJCZQVYWRH.20131117180029.jpg"/>Field Hockey</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/YQ/YQZLAAZDZHLYCPE.20140107195950.jpg"/>Golf</a></td><td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/YF/YFGJGYUKBUIXZRE.20131012001000.jpg" />Golf</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/ZB/ZBERISGRIQKWEVE.20140222230750.jpg"/>Lacrosse</a></td><td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/QM/QMHBWBDMSWKZTBO.20140228231242.jpg"/>Lacrosse</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/DW/DWEWLBWPLWLGPNL.20131019050058.jpg"/>Soccer</a></td><td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/JX/JXHALXVJQTMADXG.20131020230044.jpg"/>Soccer</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/DJ/DJBAKPZKSKRJVFI.20130430162004.jpg"/>Swimming & Diving</a></td><td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics33/640/CT/CTTIGXMQICXNITW.20140125210214.jpg"/>Swimming & Diving</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics32/1024/AP/APQHWSDKEPHYMKR.20130119232840.jpg"/>Tennis</a></td><td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/ZR/ZRIUXCJFPGAANIH.20140122220411.jpg"/>"Tennis</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/GG/GGZSGSGZBJEIBZV.20140222222338.jpg"/>Wrestling</a></td><td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/SL/SLJCKWSWNSWJGNU.20130407050054.jpg"/>Softball</a></td>
        </tr>
         <tr>
            <td><a href="#"></a></td><td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/CV/CVLTQKVZJZDPXMO.20140228160511.jpg"/>Rowing</a></td>
        </tr>
         <tr>
            <td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/GI/GIKTSGMEKGXJDMV.20140118025327.jpg"/>Track & Field</a></td><td><a href="#"><img id="sports_table" src="http://www.goheels.com/pics33/1024/BP/BPSGVNOWOMPJYFC.20140125030242.jpg"/>Track & Field</a></td>
        </tr>
         <tr>
            <td><a href="#"></a></td><td><a href="#"><img id="sports_table" src="http://image.cdnllnwnl.xosnetwork.com/pics32/1024/KA/KARZOZHSQXLGHDP.20120618214754.jpeg"/>Volleyball</a></td>
        </tr>

    </tbody>
</table>

{% endblock %}



            
   
        
            
            
        
