*/ FILE assignment1/static_media/css/style.css */

.container {
    padding-bottom: 50px;
    background-color: #101010;
}

.navbar {
    margin-bottom: 125px;
    background-color: #101010;
}

#ramses {
    height: 50%;
}

img#header_img {
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }
    
img.athlete_profile {
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    padding-top: 10px;
    padding-bottom: 15px;
}

div.template-wrapper {
    background-color: #fff;
}

/* DataTables */

.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	max-width: 100%;
	margin-bottom: 10px;
	margin-top: 15px;
        
}

a, a:hover, a:focus {
    color: #000;
}

#table_id {
    margin: auto;
    max-width: 100%;
}

#sports_table {
    margin: auto;
}
th.sorting_asc, th.sorting {
	background-color: #9AC0DA;
	border:none;
	border-bottom: none;	
}

div.dataTables_length {
    float: left;
   	color: #3B4A53;
}



table.dataTable tr.odd { background-color: #FFF; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #FFF; }
table.dataTable tr.odd td.sorting_2 { background-color: #FFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #FFF; }
table.dataTable tr.even td.sorting_1 { background-color: #FFF; }
table.dataTable tr.even td.sorting_2 { background-color: #FFF; }
table.dataTable tr.even td.sorting_3 { background-color: #FFF; }


/* --- Searchbar -----------
div.dataTables_filter {
    float: right;
    color: #3B4A53;
}
-------------------- */

/* -- Displaying # of # -------
div.dataTables_info {
    float: left;
    background-color: #fff;
}
-------*/

/* Pages -----------------------
div.dataTables_paginate {
    float: right;
    color: rgb(232, 221, 203);
}
-------*/

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    /* padding-top: 3px;
	padding-bottom: 3px;  */
	
	margin-bottom: 10px;
}

label {
	margin-bottom: 5px;	
}

#table_bottom {
	margin-bottom: 20px;
	padding-bottom: 45px;
}

img#data_table {
    height: 25%;
    padding: 5px;
}

img#sports_table {
    height: 25%;
    padding: 5px;
}

.athlete-profile {
    margin: 0 auto;
}

#footer {
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #101010;
  margin: 0 auto;
}
